Repository RayBob1993/nuxt-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ext ".js,.vue" --ignore-path .gitignore ., stylelint --fix "**/*.{vue,scss,css}" --ignore-path .gitignore

.lintstagedrc:

{
  "*.{js,vue}": [
    "eslint --fix --ext \".js,.vue\" --ignore-path .gitignore .",
    "git add"
  ],
  "*.{vue,scss,css}": [
    "stylelint --fix \"**/*.{vue,scss,css}\" --ignore-path .gitignore",
    "git add"
  ]
}

feat: Добавлен обработчик ошибок
  nuxt.config.js
  plugins/exception.js
  services/error/Exception.js
  services/error/ForbiddenError.js
  services/error/NotFoundError.js
  services/error/ServerError.js
  services/error/UnauthorizedError.js
  services/error/UnhandledError.js
  services/error/ValidationError.js
  services/error/index.js
Due: eslint --fix --ext ".js,.vue" --ignore-path .gitignore .

feat: Добавление тестов
  .babelrc
  components/AppHeader.vue
  jest.config.js
  jest.setup.js
  package.json
  tests/unit/components/AppFooter.spec.js
  tests/unit/components/AppHeader.spec.js
Due: eslint --fix --ext ".js,.vue" --ignore-path .gitignore ., stylelint --fix "**/*.{vue,scss,css}" --ignore-path .gitignore

feat: Добавление тестов
  package.json
  pages/index.vue
  tests/unit/components/AppHeader.spec.js
  tests/unit/pages/PageIndex.spec.js
Due: eslint --fix --ext ".js,.vue" --ignore-path .gitignore ., stylelint --fix "**/*.{vue,scss,css}" --ignore-path .gitignore

Update .eslintrc.js
  .eslintrc.js
Due: eslint --fix --ext ".js,.vue" --ignore-path .gitignore .

feat: Обновление зависимостей
  .eslintrc
  .eslintrc.js
  .lintstagedrc
  .prettierrc
  .stylelintrc
  README.md
  assets/fonts/README.md
  assets/images/README.md
  assets/scss/base/reset.scss
  assets/scss/mixins/grid.scss
  assets/scss/mixins/index.scss
  assets/scss/mixins/media.scss
  assets/scss/mixins/utils.scss
  assets/scss/variables/index.scss
  assets/scss/variables/mixins/index.scss
  nuxt.config.js
  package.json
  static/robots.txt
  store/index.js
  stylelint.config.js
Due: eslint --fix --ext ".js,.vue" --ignore-path .gitignore ., stylelint --fix "**/*.{vue,scss,css}" --ignore-path .gitignore

Update README.md
  README.md
Due: none

Update package.json
  package.json
Due: none

Update .nvmrc
  .nvmrc
Due: none
